body {
    margin: 0;
}

h1 {
    font-size: 50px;
}

.yellow {
    color: #FF3283;
    ;
}

.top-banner::after {
    content: "";
    clear: both;
    display: block;
}

.top-banner {
    background: url("images/top-banner.png");
    background-repeat: no-repeat;
}

#top::after {
    content: "";
    clear: both;
    display: block;
}

#top {
    background: url("images/top.png");
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    max-width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.button {
    background-color: #FF3283;
    padding: 10px 25px;
    border: 1px solid #FF3283;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.button:hover {
    background-color: white;
    color: #FF3283;
    border: 1px solid#FF3283;
    cursor: pointer;
}

.shadow-design {
    box-shadow: 10px 10px 40px gray;
}

.experience {
    padding: 100px 0px;
    content: "";
    clear: both;
}

.center {
    text-align: center;
    padding: 100px 0px;
}

#Adnan {
    border: 1px solid 7px;
    border-image: linear-gradient( 180deg, #FF3283, rgb(13, 145, 8));
    border-image-slice: 1;
}